.barchart {
    // width: 301px;
    height: 255px;
    margin: 1em;
    clear: both;
    .barchart-inner {
        height: 252px;
        width: 252px;
        margin: 3px 0;
        @include background-image(linear-gradient(tint(#016781, 80%), white));
        float: left;
        border: 1px solid black;
        border-width: 0 0 1px 1px;
        position:relative;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        li {
            margin: 0;
            height: 10%;
            @include box-sizing(border-box);
        }
    }
    .barchart--y-axis {
        text-align: right;
        float: left;
        display: block;
        padding-right: 1em;
        li {
            font-size: 0.85em;
            line-height: 0;
            font-weight:600;
        }
        li.barchart--y-axis--100 {
            font-size: 1em;
            color: $blue;
            font-weight: 700;
        }
    }
    &--actual-bar {
    	width:90%;
    	background-color: $green;
    	height: 63.2%;
    	position:absolute;
    	bottom:0;
    	margin-left:5%;
        z-index:15;
    }
    &--goal-line {
        position: absolute;
        width: 100%;
        height:3px;
        background-color: $blue;
        bottom:50%;
        z-index:20;
    }
    &--goal-label {
        position: absolute;
        bottom:40%;
        font-weight:600;
        z-index:20; 
        font-size:1.2em;
        margin-left: 3.5em;
        &--unit {
           font-size: .85em;
            font-weight: 500;        }
                &:before {
            content: '';
            width: 15px;
            height: 20px;
            background-image: url(/img/up_arrow.png);
            display: block;
            position: absolute;
            left: -19px;
            top: -2px;
        }
        }
    &--actual-label {
        // @include css-arrow(bottom, 10px, $blue, 25px, $blue, solid, 10%);

        background-color: $blue;
        padding: 10px;
        line-height: 1em;
        position: absolute;
        bottom: 50%;
        z-index: 15;
        margin-bottom: 17px;
        @include border-radius(.5em);
        color: #fff;
        font-size:1.2em;
        font-weight: 600;
        margin-left:25px;
        margin-right: 15px;
        &:after {
            content: '';
            @include arrow(23px, 17px, down, $blue);
             left: 0;
            margin: 35px 0 0 13px;
            position: absolute;
            top: 0;
        }
        &--percentage {
            font-size: .85em;
            font-weight: 300;
        }
    }
    &--title {
        text-align: center;
        margin-bottom: 15px;
    }
    &--caption {
        text-align: center;
        margin: 15px 45px;
    }
    .barchart .barchart--grid {
        height: 100%;
            li {
        border-bottom: 1px solid gray;
        height: 10%;
    }
    li:last-child {
        border-bottom: 0;
    }
    }

}
    .svg .barchart--goal-label:before {
        background-image: url(/img/up_arrow.svg);
    }