/* ==|=====================
   Module/Table
   ======================== */

.table {
    margin-bottom:25px;
    width: 100%;  
   @include alternating-rows-and-columns-custom($light-gray, (tint($med-gray,90%)), #222);
    &--cell-center {
        text-align: center
    }
    th {
        color: #fff;
        padding: 6px 10px 4px;
        text-transform: uppercase;
        font-weight: 500;
        text-align: left;
            font-size: .875em; /* 14/16 */
        &:first-child {
            padding-left: 1.2em;
        }
        &:last-child {
        }
                .C4 & {
                    background-color: $C4;
                }
                .C5 & {
                    background-color: $C5;
                }
                .MG & {
                    background-color: $MG;
                }
                .TG & {
                    background-color: $TG;
                }        
    }
    tr {
        td {
            padding: 6px 10px 4px;  
            &:first-child {
            	// padding-left: 1.2em;
            }
            &:last-child {
            	// padding-right: .7em;
            }
        }
        &:last-child td {
        }
    }

    /* Medium Screens */
    @media (max-width: 54em) {
        font-size: .8em;
        tr td {
         padding-right: 2em;
        }
    }
}