<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $.fn.tooltipster('setDefaults', {
        animation: 'grow',
        theme: 'tooltipster-sbirtmap',
        maxWidth: 250,
        minWidth: 250,
        interactive: true,
        trigger: 'click',
});
    $('#nm').tooltipster({
      content: $('<h2>New Mexico</h2> <p><strong>Grantee Name:</strong><br> State of New Mexico Human Services Department</p><p><strong>TI Number:</strong><br> TI025087</p><p><strong>Funding Period:</strong><br>10/01/13–09/30/18</p>  <p><strong>Grantee Project Director:</strong><br>Coy Maienza<br> Tel: 505-476-9263<br><a href=\"mailto:coy.maienza@state.nm.us\">coy.maienza@state.nm.us</a></p> <!--<p><a href=\"http://www.kingcounty.gov/healthservices/SubstanceAbuse/Services/Intervention/WASBIRT.aspx\" target=\"_blank">Washington SBIRT Website</a></p> --><p><strong>Government Project Officer:</strong><br>Reed Forman, MSW</p> <p><a href=\"C5-NM-info.html\">View Program Information</a></p>')
    });

    $('#sc').tooltipster({
      content: $('<h2>South Carolina</h2> <p><strong>Grantee Name:</strong><br>   South Carolina Department of Alcohol and Other Drug Abuse Services </p> <p><strong>TI Number:</strong><br> TIO23456</p><p><strong>Funding Period:</strong><br>10/01/13–09/30/18</p> <p><strong>Grantee Project Director:</strong><br>Samantha Collins, M.A., LPC, NCC, CACII<br> Tel: 803-896-7387<br> <a href=\"mailto:scollins@daodas.sc.gov\">scollins@daodas.sc.gov</a></p> <!--<p><a href=\"http://wwww.improvinghealthcolorado.org\" target=\"_blank\">Colorado SBIRT Website</a></p>--> <p><strong>Government Project Officer:</strong><br>Kellie Cosby</p> <p><a href=\"C5-SC-info.html\">View Program Information</a></p> ')
    });

    $('#oh').tooltipster({
      content: $('<h2>Ohio</h2> <p><strong>Grantee Name:</strong><br>Ohio Department of Alcohol & Drug Addiction Services</p> <p><strong>TI Number:</strong><br> TI025113</p><p><strong>Funding Period:</strong><br>10/01/13–09/30/18</p> <p><strong>Grantee Project Director:</strong><br> Sanford Starr, M.S.W., LISW-S<br> Tel: 614-644-8316<br><a href=\"mailto:sanford.starr@mha.ohio.gov\">sanford.starr@mha.ohio.gov</a></p> <p><a href=\"http://mha.ohio.gov/Default.aspx?tabid=665\" target=\"_blank\">Visit the Ohio SBIRT website</a></p> <p><strong>Government Project Officer:</strong><br> Kellie Cosby, M.P.H.</p> <p><a href=\"C5-OH-info.html\">View Program Information</a></p> ')
    });

    $('#vt').tooltipster({
      content: $('<h2>Vermont</h2> <p><strong>Grantee Name:</strong><br>State of Vermont</p><p><strong>TI Number:</strong><br>TI025105</p><p><strong>Funding Period:</strong><br>10/01/13–09/30/18</p> <p><strong>Grantee Project Director:</strong><br>Win Turner<br> Tel: 802-233-6660<br><a href=\"mailto:win@metcbtplus.com\">win@metcbtplus.com</a></p> <!--<p><a href=\"http://www.dhs.state.il.us/page.aspx?item=47893\" target=\"_blank\">Illinois SBIRT Website</a></p> --><p><strong>Government Project Officer:</strong><br>Erich Kleinschmidt</p> <p><a href=\"C5-VT-info.html\">View Program Information</a></p> ')
    });

    $('#ny').tooltipster({
      content: $('<h2>New York</h2> <p><strong>Grantee Name:</strong><br>New York State Office of Alcoholism and Substance Abuse Services </p> <p><strong>TI Number:</strong><br>TI025102 </p> <p><strong>Funding Period:</strong><br>10/01/13–09/30/18</p><p><strong>Grantee Project Director:</strong><br>John Yu, Ph.D.<br> Tel: 518-457-0053<br> <a href=\"mailto:johnyu@oasas.ny.gov\">johnyu@oasas.ny.gov</a></p> <!--<p><a href=\"http://indianasbirt.org/\" target=\"_blank\">Indiana SBIRT Website</a></p> --><p><strong>Government Project Officer:</strong><br>Erich Kleinschmidt, M.S.W.</p> <p><a href=\"C5-NY-info.html\">View Program Information</a></p> ')
    });
});
</script>