<img src="../images/C4-AS-site.jpg" class="grantee-photo" alt="American Samoa">
<div class="gpra-chart">
    <img src="../images/data_grapphic_as.png" width="304" height="190" alt="data">
    <p class="gpra-label">Clients Screened By End of First Year</p>
</div>
<div class="grantee-pdf-link">
    <a href="pdf/american-samoa.pdf" target="_blank">
        <img src="../images/thumb_pdf_as.png" width="140" height="180" alt="PDF of American Samoa's Site Visit Report">Site Report (PDF 1.2 MB)</a>
</div>