<!-- Cohorts -->
{% if page.cohort == 'C4' %} {% assign cohort_name = 'State Grantees, Cohort IV' %} {% endif %}
{% if page.cohort == 'C5' %} {% assign cohort_name = 'State Grantees, Cohort V' %} {% endif %}
{% if page.cohort == 'TG' %} {% assign cohort_name = 'Training Grantees' %} {% endif %}
{% if page.cohort == 'MG' %} {% assign cohort_name = 'Medical Grantees' %} {% endif %}

<!-- Cohort IV -->
{% if page.grantee == 'AS' %} {% assign grantee_name = 'American Samoa' %} {% endif %}
{% if page.grantee == 'AZ' %} {% assign grantee_name = 'Arizona' %} {% endif %}
{% if page.grantee == 'CO' %} {% assign grantee_name = 'Colorado' %} {% endif %}
{% if page.grantee == 'CT' %} {% assign grantee_name = 'Connecticut' %} {% endif %}
{% if page.grantee == 'IL' %} {% assign grantee_name = 'Illinois' %} {% endif %}
{% if page.grantee == 'IN' %} {% assign grantee_name = 'Indiana' %} {% endif %}
{% if page.grantee == 'IA' %} {% assign grantee_name = 'Iowa' %} {% endif %}
{% if page.grantee == 'NJ' %} {% assign grantee_name = 'New Jersey' %} {% endif %}
{% if page.grantee == 'NY' %} {% assign grantee_name = 'New York' %} {% endif %}
{% if page.grantee == 'NC' %} {% assign grantee_name = 'North Carolina' %} {% endif %}
{% if page.grantee == 'TN' %} {% assign grantee_name = 'Tennessee' %} {% endif %}
{% if page.grantee == 'WA' %} {% assign grantee_name = 'Washington' %} {% endif %}