<script type="text/javascript" language="javascript">
$(document).ready(function() {
  $.fn.tooltipster('setDefaults', {
        animation: 'grow',
        theme: 'tooltipster-sbirtmap',
        maxWidth: 250,
        minWidth: 250,
        interactive: true,
        trigger: 'click',
});
    $('#wa').tooltipster({
      content: $('<h2>Washington</h2> <p><strong>Grantee Name:</strong><br> Washington State SBIRT- Primary Care Integration (WASBIRT-PCI)</p> <p><strong>TI Number:</strong><br> TI023477</p> <p><strong>Grantee Project Director:</strong><br>Alice Huber<br> Tel: 360-725-3747<br><a href=\"mailto:dennis.malmer@dhs.wa.gov\">dennis.malmer@dhs.wa.gov</a></p> <p><a href=\"http://www.kingcounty.gov/healthservices/SubstanceAbuse/Services/Intervention/WASBIRT.aspx\" target=\"_blank">Washington SBIRT Website</a></p> <p><strong>Government Project Officer:</strong><br>Reed Forman, MSW</p> <p><a href=\"wa-in-depth.htm\">View Program Information</a></p>')
    });

    $('#co').tooltipster({
      content: $('<h2>Colorado</h2> <p><strong>Grantee Name:</strong><br> State of Colorado</p> <p><strong>TI Number:</strong><br> TIO23456</p> <p><strong>Grantee Project Director:</strong><br>Stan Paprocki<br> Tel: 303-866-7503<br> <a href=\"mailto:stan.paprocki@state.co.us\">stan.paprocki@state.co.us</a></p> <p><a href=\"http://wwww.improvinghealthcolorado.org\" target=\"_blank\">Colorado SBIRT Website</a></p> <p><strong>Government Project Officer:</strong><br>Kellie Cosby</p> <p><a href=\"co-in-depth.htm\">View Program Information</a></p> ')
    });

    $('#as').tooltipster({
      content: $('<h2>American Samoa</h2> <p><strong>Grantee Name:</strong><br> O le Alofa Wellness SBIRT American Samoa</p> <p><strong>TI Number:</strong><br> T1023463</p> <p><strong>Grantee Project Director:</strong><br> Leilua Stevenson<br> Tel: 684-633-1664<br><a href=\"mailto:lstevenson@dhss.as\">lstevenson@dhss.as</a></p> <p><a href=\"http://sbirtwiki.wikispaces.com/American+Samoa\" target=\"_blank\">American Samoa SBIRT website</a></p> <p><strong>Government Project Officer:</strong><br> Reed Forman, M.S.W.</p> <p><a href=\"as-in-depth.htm\">View Program Information</a></p> ')
    });

    $('#il').tooltipster({
      content: $('<h2>Illinois</h2> <p><strong>Grantee Name:</strong><br>State of Illinois</p> <p><strong>TI Number:</strong><br>TI023459</p> <p><strong>Grantee Project Director:</strong><br>Danielle Kirby, MPH<br> Tel: 312-814-5815<br><a href=\"mailto:Danielle.Kirby@illinois.gov\">Danielle.Kirby@illinois.gov</a></p> <p><a href=\"http://www.dhs.state.il.us/page.aspx?item=47893\" target=\"_blank\">Illinois SBIRT Website</a></p> <p><strong>Government Project Officer:</strong><br>Erich Kleinschmidt</p> <p><a href=\"il-in-depth.htm\">View Program Information</a></p> ')
    });

    $('#in').tooltipster({
      content: $('<h2>Indiana</h2> <p><strong>Grantee Name:</strong><br>State of Indiana</p> <p><strong>TI Number:</strong><br>TI023449</p> <p><strong>Grantee Project Director:</strong><br>Ruth Gassman<br> Tel: 812-855-1294<br> <a href=\"mailto:rgassman@indiana.edu\">rgassman@indiana.edu</a></p> <p><a href=\"http://indianasbirt.org/\" target=\"_blank\">Indiana SBIRT Website</a></p> <p><strong>Government Project Officer:</strong><br>Erich Kleinschmidt, M.S.W.</p> <p><a href=\"in-in-depth.htm\">View Program Information</a></p> ')
    });

    $('#tn').tooltipster({
      content: $('<h2>Tennessee</h2> <p><strong>Grantee Name:</strong><br>State of Tennessee</p> <p><strong>TI Number:</strong><br>TI023454</p> <p><strong>Grantee Project Director:</strong><br>Angela McKinney-Jones<br> Tel: 615-532-7786<br><a href=\"mailto:angela.mckinneyjones@tn.gov\">angela.mckinneyjones@tn.gov</a></p> <p><a href=\"http://www.state.tn.us/mental/\" target=\"_blank\">Tennessee SBIRT Website</a></p> <p><strong>Government Project Officer:</strong><br>Kellie Cosb</p> <p><a href=\"tn-in-depth.htm\">View Program Information</a></p> ')
    });

    $('#nc').tooltipster({
      content: $('<h2>North Carolina</h2> <p><strong>Grantee Name:</strong><br>North Carolina SBIRT</p> <p><strong>TI Number:</strong><br>TI023453</p> <p><strong>Grantee Project Director:</strong><br>Flo Stein, MPH, Co-Executive Director, NC SBIRT<br> Tel: 919 744 4670<br><a href=\"mailto:flo.stein@dhhs.nc.gov\">flo.stein@dhhs.nc.gov</a></p> <p><a href=\"http://www.sbirtnc.org/\" target=\"_blank\">North Carolina SBIRT Website</a></p> <p><strong>Government Project Officer:</strong><br>Kellie Cosby, M.P.H.</p> <p><a href=\"nc-in-depth.htm\">View Program Information</a></p> ')
    });

    $('#ny').tooltipster({
      content: $('<h2>New York</h2> <p><strong>Grantee Name:</strong><br>NYSBIRT</p> <p><strong>TI Number:</strong><br>TI023470</p> <p><strong>Grantee Project Director:</strong><br>Dr. John Yu, NYS Office of Alcoholism and Substance Abuse Services (OASAS)<br> Tel: 518-457-0053<br><a href=\"mailto:johnyu@oasas.ny.gov\">johnyu@oasas.ny.gov</a></p> <p><a href=\"http://www.oasas.ny.gov/AdMed/sbirt/\" target=\"_blank\">New York SBIRT Website</a></p> <p><strong>Government Project Officer:</strong><br>Erich Kleinschmidt, M.S.W.</p> <p><a href=\"ny-in-depth.htm\">View Program Information</a></p> ')
    });

    $('#ct').tooltipster({
      content: $('<h2>Connecticut</h2> <p><strong>Grantee Name:</strong><br>State of Connecticut</p> <p><strong>TI Number:</strong><br>TI023459</p> </p> <p><strong>Grantee Project Director:</strong><br>Alyse Chin, Department of Mental Health and Addiction Services<br> Tel: 860-418-6904<br><a href=\"mailto:Alyse.Chin@ct.gov\">Alyse.Chin@ct.gov</a></p> <p><a href=\"http://www.ct.gov/dmhas/cwp/view.asp?a=2901&q=491532\" target=\"_blank\">Connecticut SBIRT Website</a></p> <p><strong>Government Project Officer:</strong><br>Reed Forman, M.S.W.</p> <p><a href=\"ct-in-depth.htm\">View Program Information</a></p> ')
    });
    $('#nj').tooltipster({
      content: $('<h2>New Jersey</h2> <p><strong>Grantee Name:</strong><br>New Jersey State Department of Human Services</p> <p><strong>TI Number:</strong><br>TI023460</p> </p> <p><strong>Grantee Project Director:</strong><br>Kathleen Russo<br>Tel: 609-984-4053<br><a href=\"mailto:kathleen.russo@dhs.state.nj.us\">kathleen.russo@dhs.state.nj.us</a></p> <p><strong>Government Project Officer:</strong><br>Kellie Cosby, M.P.H.</p> <p><a href=\"ct-in-depth.htm\">View Program Information</a></p> ')
    });
    $('#az').tooltipster({
      content: $('<h2>Arizona</h2> <p><strong>Grantee Name:</strong><br>Arizona Governor\'s Office for Children, Youth and Families</p> <p><strong>TI Number:</strong><br>TI023457</p> </p> <p><strong>Grantee Project Director:</strong><br>Tonya Hamilton<br>Tel: 602-542-1760<br><a href=\"mailto:thamilton@az.gov\">thamilton@az.gov</a></p> <p><strong>Government Project Officer:</strong><br>Reed Forman, M.S.W.</p> <p><a href=\"ct-in-depth.htm\">View Program Information</a></p> ')
    });
      $('#ia').tooltipster({
      content: $('<h2>Iowa</h2> <p><strong>Grantee Name:</strong><br>Iowa Department of Public Health</p> <p><strong>TI Number:</strong><br>TI023466</p> </p> <p><strong>Grantee Project Director:</strong><br>Michele Tilotta, M.P.A., RN<br>Tel: 515-281-4816<br><a href=\"mailto:michele.tilotta@idph.iowa.gov\">michele.tilotta@idph.iowa.gov</a></p> <p><a href=\"http://www.idph.state.ia.us/sbirt/default.aspx\" target=\"_blank\">Iowa SBIRT Website</a></p> <p><strong>Government Project Officer:</strong><br>Erich Kleinschmidt, M.S.W., LICSW</p> <p><a href=\"ct-in-depth.htm\">View Program Information</a></p> ')
    });
});
</script>