{% include custom-variables.html %}
<nav class="nav-cohort-{{ page.cohort }}">
	<div class="nav-cohort-inner">
<ul class="sf-menu" id="example">
			<li>
				<a href="index.html">Find a Grantee</a>
{% if page.cohort == 'C4' %}{% include /C4/C4-nav-grantees.html %}{% endif %}
{% if page.cohort == 'C5' %}{% include /C5/C5-nav-grantees.html %}{% endif %}
{% if page.cohort == 'MG' %}{% include /MG/MG-nav-grantees.html %}{% endif %}
{% if page.cohort == 'TG' %}{% include /TG/TG-nav-grantees.html %}{% endif %}
			</li>
			<li>
				<a href="{{ page.cohort }}-timeline.html">View Site Visits Timeline</a>
			</li>
			<li>
				<a href="{{ page.cohort }}-performance.html">Review Overall Performance</a>
						{% if page.cohort != 'MG' %}
							<ul>
								{% if page.cohort == 'C4' or page.cohort == 'C5' or page.cohort == 'TG' %}
									<li><a href="{{ page.cohort }}-agg-progress.html">Aggregate Training Progress</a></li>
								{% endif %}
								{% if page.cohort == 'C4' or page.cohort == 'C5' or page.cohort == 'TG' %}
									<li><a href="{{ page.cohort }}-progress.html">Individual Grantee Progress</a></li>
								{% endif %}
								{% if page.cohort == 'C4' %}
									<li><a href="{{ page.cohort }}-products.html">Grantee Products</a></li>
								{% endif %}
								{% if page.cohort == 'C5' %}
									<li><a href="{{ page.cohort }}-hit-capacity.html">Baseline HIT Capacity</a></li>
								{% endif %}
								{% if page.cohort == 'TG' or page.cohort == 'C5' %}
									<li><a href="{{ page.cohort }}-tools.html">Sample Tools</a></li>
								{% endif %}
							</ul>
						{% endif %}
			</li>
			<li>
				<a href="{{ page.cohort }}-background.html">Review Background</a>
				<ul>
					<li>
						<a href="{{ page.cohort }}-background.html">About SBIRT and {{ cohort_name }}</a>
					</li>
					<li>
						<a href="{{ page.cohort }}-visits.html">About Implementation Visits</a>
					</li>
					{% if page.cohort == 'C4' or page.cohort == 'C5' or page.cohort == 'MG' %}
						<li>
							<a href="{{ page.cohort }}-websites.html">{{ cohort_name }} Websites</a>
						</li>
					{% endif %}
				</ul>
			</li>
				</ul>
			</li>	
		</ul>
	</div>
</nav>